/* Chat container */
.chat-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: var(--backgroundColor);
    font-family: var(--fontFamily);
    display: flex;
    flex-direction: column;
    padding: 0.5%;
    box-sizing: border-box;
    border-radius: 10px; /* Закругленные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Messages area */
.chat-messages {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 2%;
    padding: 2%;
    background: var(--messageAreaBg);
    border-radius: 1%;
    box-shadow: inset 0 0 5px var(--messageShadow);
    font-size: 1rem; /* Размер шрифта в области сообщений */
}

/* Individual message */
.chat-message {
    margin: 2% 0;
    display: flex;
    justify-content: flex-start;
}

.chat-message.user {
    justify-content: flex-end;
}

.chat-bubble {
    max-width: 70%; /* Ширина сообщения будет 70% от ширины чата */
    padding: 1em;  /* Отступы в сообщении */
    border-radius: 12px;
    font-size: 0.9em; /* Размер шрифта в сообщениях */
    line-height: 1.4;
    word-wrap: break-word;
    display: inline-block;
}

/* Client message bubble */
.chat-message.user .chat-bubble {
    background: var(--clientBubbleBg);
    color: var(--clientBubbleText);
}

/* Support message bubble */
.chat-message.assistant .chat-bubble {
    background: var(--supportBubbleBg);
    color: var(--supportBubbleText);
}

.chat-input-area {
    display: flex;
    gap: 1%;
    align-items: center;
    padding: 1%;
    border-top: 1px solid var(--inputBorder);
    height: calc(10%); /* Полоса ввода занимает 10% от высоты чата */
}


.chat-input {
    flex: 1;
    padding: calc(0.5% + 0.5vh); /* Динамический отступ */
    border-radius: 4%;
    border: 1px solid var(--inputBorder);
    font-size: calc(110.5% + 0.6vh); /* Шрифт зависит от размера чата */
    height: 60%; /* Занимает всю высоту input-area */
    width: calc(10%);
}

.chat-send-button {
    width: calc(15%); /* Кнопка занимает 15% ширины родителя */
    height: 100%; /* Занимает всю высоту input-area */
    background: var(--buttonBg);
    color: var(--clientBubbleText);
    border: none;
    border-radius: 4%;
    cursor: pointer;
    font-size: calc(60% + 0.3vh); /* Шрифт кнопки меняется в зависимости от чата */
    overflow: hidden;
    transition: background 0.3s;
}


.chat-send-button:hover {
    background: var(--buttonBgHover);
}


/* Responsive scaling for smaller screens */
@media (max-width: 768px) {
    .chat-input {
        padding: 1vh; /* Уменьшаем отступы */
        font-size: 1.2vh;
    }

    .chat-send-button {
        padding: 0.8vh 1.5vh;
        font-size: 1.2vh;
    }
}